.watch {
    display: block;
    width: 100vw;
    height: 100vh;
}

.page_header {
    display: flex;
    flex-wrap: wrap;
}

.page_header>*:first-child {
    flex: 1 1;
}

.page_header>*:last-child {
    display: flex;
    flex: 0 0;
    min-width: 13em;
    margin-inline: 2em;
}


.control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: calc(max(0px, 50vw - 50em));
}

.control>div {
    flex: 1 1;
    min-width: 25em;
    padding: 2em;
}

.control>div>div {
    margin-block: 1em;
}

.control>div>.head {
    padding: .5em;
    color: #ffffff;
    display: block;
    font-weight: bold;
    border-bottom: 2px dotted;
}

.title {
    margin: 1rem 2rem;
    font-size: calc(min(2em, 12vw));
    min-width: calc(min(2em, 12vw) * 4.3);
}

.title>span {
    font-weight: 100;
}

.enter_watch_mode {
    display: block;
    width: 80vw;
    border: 2px solid #ae6aec;
    margin-block: 1em !important;
    margin-left: 10vw !important;
    color: #ae6aec;
    background: transparent;
    transition: color 0.2s, background-color 0.2s;
}

.enter_watch_mode:hover {
    color: #000000;
    background: #ae6aec;
}

.cached_videos_list {
    display: flex;
    flex-direction: column;
}

.cached_videos_list>label {
    display: flex;
    margin-inline: 0;
}

.cached_videos_list>label>* {
    margin-inline: 0;
    flex: 0 0;
}

.cached_videos_list>label>input {
    flex: 1 1;
}

.cached_entry {
    flex: 0 0;
    border: 2px solid #ffffff;

    display: flex;
}

.cached_entry:not(:first-child):not(:nth-child(2)) {
    margin-top: 0px;
    border-top-width: 1px;
}

.cached_entry:not(:last-child) {
    margin-bottom: 0px;
    border-bottom-width: 1px;
}

.cached_entry>.cached_entry_info {
    flex: 1 1;
}

.cached_entry:has(.cached_entry_info:hover)>.btn_play {
    background: #ffffff;
    color: #000000;
}

.cached_entry>.btn_play,
.cached_entry>.btn_edit {
    flex: 0 0;
    border: none;
    margin: 0px;
    padding: 22px;
    height: 65px;
    appearance: none;
    font-size: 2em;
    line-height: 0;
}

.cached_entry_info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 1;
    min-width: 0;
    position: relative;
}


.cached_entry_info>div:nth-child(1),
.cached_entry_info>div:nth-child(2) {
    flex: 1 1;
    overflow-x: scroll;
    white-space: nowrap;
}

.cached_entry_info>div:nth-child(2) {
    opacity: 0.5;
}

.cached_entry_info>div.cached_entry_loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #22000099;
    text-align: center;
    padding-block: 20px;
    line-height: 20px;
}

.no_media {
    font-size: 2vh;
    text-align: center;
    margin-block: 20vh;
}

.no_media>* {
    margin-block: 10vh;
}

.controls>div {
    display: flex;
}

.controls>div>* {
    flex: 1 1;
}

.controls>div>.time_thin {
    flex: 0.5 0.5;
    min-width: 1em;
}

.controls>div>label {
    display: flex;
}

.controls>div>label>* {
    flex: 1 1;
}

.controls br {
    margin-top: 1.5em;
}